/* 
    1   Button
    2   Button - Modal
    3   Button typography
*/

/* 1 Button */

button {
    width: 217px;
    height: 56px;
    margin: 0 auto;
    border: none;
    background-color: var(--dark-cyan);
    border-radius: 6px;
    transition: background-color .3s;
}

@media screen and (min-width: 768px) {
    button {
        margin: 0;
    }
}

@media screen and (min-width: 1440px) {
    button:hover {
        cursor: pointer;
        background-color: var(--light-cyan);
    }
}

button:active {
    transform: scale(.98);
}

/* 2 Button - Modal */

@media screen and (max-width: 768px) {
    .modal button {
        width: 279px;
        margin: 24px;
    }
}

/* 3 Button typography */

.button-1 {
    font-family: "Fraunces";
    font-style: normal;
    font-weight: 900;
    color: var(--light-cream);
    font-size: 1.125rem;
    line-height: 1.5625rem;
    text-align: center;
}