/* ------------------------------
1. Business process section
2. Business process cards wrapper
3. Business process button
------------------------------ */

/* 1. Business process section */

.business-process {
    width: 87.2%;
    max-width: 327px;
    margin: 670px auto 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (min-width: 768px) {
    .business-process {
        width: 89.71%;
        max-width: unset;
        margin: 285px auto 0 auto;
        display: unset;
    }
}

@media screen and (min-width: 1440px) {
    .business-process {
        width: 81.96%;
        max-width: 1045px;
        margin-top: 200px;
    }
}

/* 2. Business process cards wrapper */

.business-process .cards-wrapper {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 56px;
}

@media screen and (min-width: 768px) {
    .business-process .cards-wrapper {
        margin-top: 48px;
        flex-direction: row;
        align-items: unset;
        gap: unset;
    }
}

@media screen and (min-width: 1440px) {
    .business-process .cards-wrapper {
        margin-top: 80px;
    }
}

/* 3. Business process button */

.business-process button {
    margin-top: 79px;
}

@media screen and (min-width: 768px) {
    .business-process button {
        margin-top: 44px;
    }
}

@media screen and (min-width: 1440px) {
    .business-process button {
        margin-top: 64px;
    }
}