.order {
    margin-top: 112px;
}

@media screen and (min-width: 768px) {
    .order {
        margin-top: 144px;
    }
}

@media screen and (min-width: 1440px) {
    .order {
        width: 100%;
        max-width: 1110px;
        margin: 168px auto 0 auto;
        display: flex;
        justify-content: space-between;
    }
}

.order-form {
    display: flex;
    flex-direction: column;
}

.order-form-sections-wrapper {
    display: flex;
    flex-direction: column;
    gap: 96px;
}

@media screen and (min-width: 768px) {
    .order-form-sections-wrapper {
        gap: 100px;
    }
}

@media screen and (min-width: 1440px) {
    .order-form-sections-wrapper {
        width: 730px;
        gap: 88px;
    }
}

.order-form button {
    margin: 56px auto 0 auto;
}

@media screen and (min-width: 768px) {
    .order-form button {
        margin: 40px auto 0 auto;
    }
}

@media screen and (min-width: 1440px) {
    .order-form button {
        margin: 40px 0 0 auto;
    }
}