/* 
    1   Headquarters section
    2   Headquarters section - Heading
    3   Headquarters section - Cards wrapper
*/

/* 1 Headquarters section */

.headquarters {
    width: 87.2%;
    max-width: 327px;
    margin: 551px auto 0 auto;
    display: flex;
    flex-direction: column;
    gap: 72px;
}

@media screen and (min-width: 768px) {
    .headquarters {
        width: 89.58%;
        max-width: 688px;
        margin: 472px auto 0 auto;
    }
}

@media screen and (min-width: 1440px) {
    .headquarters {
        width: 72.57%;
        max-width: 1045px;
        margin: 256px auto 0 auto;
    }
}

/* 2 Headquarters section - Heading */

.heading-section-headquarters {
    color: var(--grey);
    font-size: 1.5rem;
    line-height: 2rem;
    text-align: center;
  }
  
  @media screen and (min-width: 768px) {
    .heading-section-headquarters {
      text-align: left;
    }
  }

/* 3 Headquarters section - Cards wrapper */

.headquarters .cards-wrapper {
    display: flex;
    flex-direction: column;
    gap: 80px;
}

@media screen and (min-width: 768px) {
    .headquarters .cards-wrapper {
        flex-direction: row;
        justify-content: space-between;
        gap: unset;
    }
} 