/* 
    1   Usps section
    2   Usps section - Article
    3   Usps section - Heading
    4   Usps section - Paragraph
    5   Usps section - Cards wrapper
*/

/* 1 Usps section */

.usps {
    width: 87.2%;
    max-width: 327px;
    height: 902px;
    margin: 0 auto;
    padding: 64px 24px;
    position: relative;
    border-radius: 10px;
    background: var(--very-dark-grey-blue);
}

@media screen and (min-width: 768px) {
    .usps {
        width: 89.58%;
        max-width: unset;
        height: 573px;
        padding: 56px 74px;
    }
}

@media screen and (min-width: 1440px) {
    .usps {
        width: 88.89%;
        max-width: 1280px;
        height: 577px;
        padding: 100px 370px;
    }
}

/* 2 Usps section - Article */

.usps article {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

@media screen and (min-width: 1440px) {
    .usps article {
        gap: 32px;
    }
}

/* 3 Usps section - Heading */

.heading-section-usps {
    color: var(--light-cream);
    font-size: 1.75rem;
    line-height: 1.75rem;
    text-align: center;
}

@media screen and (min-width: 768px) {
    .heading-section-usps {
        font-size: 2rem;
        line-height: 3rem;
    }
}

@media screen and (min-width: 1440px) {
    .heading-section-usps {
        font-size: 2.5rem;
        line-height: 3rem;
    }
}

/* 4 Usps section - Paragraph */

.usps .regular-paragraph {
    color: var(--light-cream);
}

@media screen and (min-width: 768px) {
    .usps .regular-paragraph {
        text-align: center;
    }
}

/* 5 Usps section - Cards wrapper */

.usps .cards-wrapper {
    width: 100%;
    margin-top: 64px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

@media screen and (min-width: 768px) {
    .usps .cards-wrapper {
        margin-top: 70px;
    }
}

@media screen and (min-width: 1440px) {
    .usps .cards-wrapper {
        margin-top: 86px;
        flex-direction: row;
        justify-content: center;
        gap: 30px;
    }
}