/* Card - Usps section */

.card.usp {
    width: 100%;
    max-width: 279px;
    margin: 0 auto;
    padding: 72px 34px;
    gap: 56px;
    border-radius: 8px;
    background: var(--dark-cyan);
}

@media screen and (min-width: 768px) {
    .card.usp {
        max-width: 573px;
        padding: 41px 48px 41px 70px;
        flex-direction: row;
        gap: 55px;
    }
}

@media screen and (min-width: 1440px) {
    .card.usp {
        max-width: 350px;
        margin: 0;
        padding: 72px 47.5px 48px 47.5px;
        flex-direction: column;
        justify-content: space-between;
    }
}

/* Card text wrapper - Usps section */

.card.usp div {
    gap: 24px;
}

@media screen and (min-width: 768px) {
    .card.usp div {
        gap: 16px;
    }
}

@media screen and (min-width: 1440px) {
    .card.usp div {
        gap: 24px;
    }
}

/* Card heading - Usps section */

.usps .heading-card {
    color: var(--light-cream);
}

/* Card paragraph - Usps section */

.usps .card .regular-paragraph {
    color: var(--light-cream);
}

@media screen and (min-width: 768px) {
    .usps .card .regular-paragraph {
        text-align: left;
    }
}

@media screen and (min-width: 1440px) {
    .usps .card .regular-paragraph {
        text-align: center;
    }
}

/* Card image - Usps section */

.card.usp img {
    width: 34.12%;
    max-width: 72px;
}

@media screen and (min-width: 768px) {
    .card.usp img {
        width: 12.31%;
    }
}

@media screen and (min-width: 1440px) {
    .card.usp img {
        width: 28.24%;
        max-width: 72px;
    }
}