/* 
    1   Card animation
    2   Card
    3   Card text wrapper
    4   Card heading
    5   Card paragraph
*/

/* 1 Card animation */

.card.animate {
    transform: translateY(100px);
    transition: transform .5s ease-in-out;
}

.card.show.animate {
    transform: translateY(0);
}

/* 2 Card */

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (min-width: 768px) {
    .card {
        flex-direction: row;
    }
}

@media screen and (min-width: 1440px) {
    .card {
        flex-direction: column;
    }
}

/* 3 Card text wrapper */

.card div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (min-width: 768px) {
    .card div {
        align-items: flex-start;
    }
}

@media screen and (min-width: 1440px) {
    .card div {
        align-items: center;
    }
}

/* 4 Card heading */

.heading-card {
    font-size: 1.5rem;
    line-height: 2rem;
    text-align: center;
}

@media screen and (min-width: 768px) {
    .heading-card {
        text-align: left;
    }
}

@media screen and (min-width: 1440px) {
    .heading-card {
        text-align: center;
    }
}

/* 5 Card paragraph */

.card .regular-paragraph {
    opacity: 1;
}