/* ------------------------------
1. Slide up animation
2. Card
    2.1 Text wrapper
3. Product card
    3.1 Product card image
    3.2 Product card text wrapper
4. Usp card
    4.1 Usp card image
    4.2 Usp card text wrapper
5. Business process card
    5.1 Business process card image
    5.2 Business process card text wrapper
    5.3 Business process card animation
6. Headquarter card
    6.1 Headquarter card image
    6.2 Headquarter card text wrapper
    6.3 Headquarter card text wrapper children
------------------------------ */

/* 1. Slide up animation */

.card.animate {
    transform: translateY(100px);
    transition: transform .5s ease-in-out;
}

.card.show.animate {
    transform: translateY(0);
}

/* 2. Card */

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (min-width: 768px) {
    .card {
        flex-direction: row;
    }
}

@media screen and (min-width: 1440px) {
    .card {
        flex-direction: column;
    }
}

/* 2.1 Text-wrapper */

.card div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (min-width: 768px) {
    .card div {
        align-items: flex-start;
    }
}

@media screen and (min-width: 1440px) {
    .card div {
        align-items: center;
    }
}

/* 3. Product card */

.card.product {
    width: 75.2%;
    max-width: 282px;
    gap: 24px;
}

@media screen and (min-width: 768px) {
    .card.product {
        width: 74.61%;
        max-width: unset;
        gap: 36px;
    }
}

@media screen and (min-width: 1440px) {
    .card.product {
        width: 17.71%;
        max-width: 255px;
        gap: 72px;
    }
}

/* 3.1 Product card image */

.card.product img {
    width: 71.02%;
    max-width: 200.29px;
}

@media screen and (min-width: 768px) {
    .card.product img {
        width: 44.5%;
    }
}

@media screen and (min-width: 1440px) {
    .card.product img {
        width: 100%;
        max-width: 255px;
    }
}

/* 3.2 Product card text wrapper */

.card.product div {
    gap: 16px;
}

@media screen and (min-width: 768px) {
    .card.product div {
        gap: 24px;
    }
}

/* 4. Usp card */

.card.usp {
    width: 100%;
    max-width: 279px;
    margin: 0 auto;
    padding: 72px 34px;
    gap: 56px;
    border-radius: 8px;
    background: var(--dark-cyan);
}

@media screen and (min-width: 768px) {
    .card.usp {
        max-width: 573px;
        padding: 41px 48px 41px 70px;
        flex-direction: row;
        gap: 55px;
    }
}

@media screen and (min-width: 1440px) {
    .card.usp {
        max-width: 350px;
        margin: 0;
        padding: 72px 47.5px 48px 47.5px;
        flex-direction: column;
        justify-content: space-between;
    }
}

/* 4.1 Usp card image */

.card.usp img {
    width: 34.12%;
    max-width: 72px;
}

@media screen and (min-width: 768px) {
    .card.usp img {
        width: 12.31%;
    }
}

@media screen and (min-width: 1440px) {
    .card.usp img {
        width: 28.24%;
        max-width: 72px;
    }
}

/* 4.2 Usp card text wrapper */

.card.usp div {
    gap: 24px;
}

@media screen and (min-width: 768px) {
    .card.usp div {
        gap: 16px;
    }
}

@media screen and (min-width: 1440px) {
    .card.usp div {
        gap: 24px;
    }
}

/* 5. Business process card */

.card.step {
    width: 100%;
    max-width: 327px;
    gap: 24px;
    position: relative;
}

@media screen and (min-width: 768px) {
    .card.step {
        max-width: unset;
        padding: 62px 17px 0 0;
        flex-direction: column;
        align-items: flex-start;
        gap: 42px;
    }
}

@media screen and (min-width: 1440px) {
    .card.step {
        margin: 0;
        padding: 82px 65px 0 0;
        gap: 38px;
    }
}

/* 5.1 Business process card image */

@media screen and (min-width: 768px) {
    .dot {
        width: 31px;
        height: 31px;
        position: absolute;
        transform: translate(0, -77.5px);
        border: 2px solid var(--dark-cyan);
        border-radius: 50%;
        background-color: var(--light-cream);
    }

    .subscribe .dot {
        background-color: var(--very-dark-grey-blue);
    }
}

@media screen and (min-width: 1440px) {
    .dot {
        transform: translate(0, -97.5px);
    }
}

/* 5.2 Business process card text wrapper */

.card.step .text-wrapper {
    gap: 24px;
}

@media screen and (min-width: 768px) {
    .card.step .text-wrapper {
        gap: 38px;
    }
}

@media screen and (min-width: 1440px) {
    .card.step .text-wrapper {
        align-items: flex-start;
        gap: 42px;
    }
}

@media screen and (min-width: 768px) {
    .card.step .text-wrapper .heading-card {
        max-width: 175px;
    }
}

/* 5.3 Business process card animation */

@media screen and (min-width: 768px) {
    .card.step::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 2px;
        background: var(--pale-orange);
        transition: width 2s ease-in-out;
    }

    .card.step:nth-child(1)::before {
        animation: borderWidth1 6s infinite forwards;
    }

    .card.step:nth-child(2)::before {
        animation: borderWidth2 6s infinite forwards;
    }

    @keyframes borderWidth1 {
        0% {
            width: 0
        }

        33% {
            width: 100%;
        }

        100% {
            width: 100%;
        }
    }

    @keyframes borderWidth2 {
        0% {
            width: 0
        }

        33% {
            width: 0;
        }

        66% {
            width: 100%;
        }

        100% {
            width: 100%;
        }
    }
}

/* 6. Headquarter card */

.card.headquarter {
    width: 100%;
    gap: 47px;
}

@media screen and (min-width: 768px) {
    .card.headquarter {
        width: 32.41%;
        max-width: 223px;
        flex-direction: column;
        align-items: flex-start;
        gap: 48px;
    }
}

@media screen and (min-width: 1440px) {
    .card.headquarter {
        width: 27.27%;
        max-width: 285px;
        gap: 24px;
    }
}

/* 6.1 Headquarter card image */

.card.headquarter img {
    width: auto;
}

@media screen and (min-width: 768px) {
    .card.headquarter img {
        height: 50px;
    }
}

/* 6.2 Headquarter card text wrapper */

.card.headquarter div {
    width: 100%;
    gap: 22px;
}

@media screen and (min-width: 768px) {
    .card.headquarter div {
        gap: 21px;
    }
}

@media screen and (min-width: 1440px) {
    .card.headquarter div {
        gap: 24px;
    }
}

/* 6.3 Headquarter card text wrapper children */

@media screen and (min-width: 1440px) {
    .card.headquarter div > * {
        width: 100%;
    }
}

