.modal {
    width: 87.2%;
    max-width: 327px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    border-radius: 8px;
    background-color: var(--light-cream);
    overflow: hidden;
}

@media screen and (min-width: 768px) {
    .modal {
        width: 70.3%;
        max-width: 540px;
    }
}

.modal header {
    padding: 28px 24px;
    background-color: var(--very-dark-grey-blue);
}

@media screen and (min-width: 768px) {
    .modal header {
        padding: 48px 0 40px 56px;
    }
}

/* Modal paragraph */

.modal .regular-paragraph {
    padding: 0 24px;
    text-align: left;
}

@media screen and (min-width: 768px) {
    .modal .regular-paragraph {
        padding: 7px 56px 0 56px;
        font-size: 1rem;
        line-height: 1.625rem;
    }
}

.modal .checkout {
    margin: 47px auto 56px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 13px;
}

/* Modal price */

.modal .checkout p {
    color: var(--dark-grey-blue);
    font-family: "Fraunces";
    font-size: 2rem;
    font-style: normal;
    font-weight: 900;
    line-height: 2.25rem;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--black);
    opacity: .5;
    z-index: 1000;
}