/* 
    1   Order form option
    2   Order form option - Selected
    3   Order form option - Heading
    4   Order form option - Heading - Selected
    5   Order form option - Paragraph
    6   Order form option - Paragraph - Selected  
*/

/* 1 Order form option */

.order-form-option input {
    display: none;
}

.order-form-option {
    width: 100%;
    max-width: 328px;
    padding: 24px 25px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    border-radius: 8px;
    background-color: var(--light-grey);
}

@media screen and (min-width: 768px) {
    .order-form-option {
        max-width: 223px;
        padding: 32px 25px;
    }
}

@media screen and (min-width: 1440px) {
    .order-form-option {
        max-width: 228px;
        padding: 32px 28px;
        transition: background-color .3s;
    }
}

@media screen and (min-width: 1440px) {
    .order-form-option:hover {
        cursor: pointer;
        background-color: var(--pale-orange);
    }
}

/* 2 Order form option - Selected */

.order-form-option.selected {
    background-color: var(--dark-cyan)
}

/* 3 Order form option - Heading */

.order-form-option .heading-option {
    color: var(--dark-grey-blue);
    font-size: 1.5rem;
    line-height: 2rem;
    transition: color .3s;
}

/* 4 Order form option - Heading - Selected */

.order-form-option.selected .heading-option {
    color: var(--light-cream);
}

/* 5 Order form option - Paragraph */

.order-form-option .regular-paragraph {
    color: var(--dark-grey-blue);
    font-size: 1rem;
    line-height: 1.625rem;
    text-align: left;
    opacity: 1;
    transition: color .3s;
}

/* 6 Order form option - Paragraph - Selected */

.order-form-option.selected .regular-paragraph {
    color: var(--light-cream);
}