/* Quality section */

.quality {
    width: 87.2%;
    max-width: 327px;
    margin: 120px auto 0 auto;
}

@media screen and (min-width: 768px) {
    .quality {
        width: 89.58%;
        max-width: 688px;
        margin: 144px auto 0 auto;
    }
}

@media screen and (min-width: 1440px) {
    .quality {
        width: 88.89%;
        max-width: 1280px;
        margin: 168px auto 0 auto;
    }
}

/* Quality article */

.quality article {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

@media screen and (min-width: 1440px) {
    .quality article {
        align-items: unset;
    }
}

/* Quality image */

.quality picture {
    width: 85.32%;
}

@media screen and (min-width: 768px) {
    .quality picture {
        width: 83.28%;
    }
}

@media screen and (min-width: 1440px) {
    .quality picture {
        width: 34.77%;
        position: relative;
        left: calc(50% + 120px);
    }
}

.quality picture img {
    width: 100%;
    border-radius: 8px;
}

/* Quality text wrapper */

.quality .text-wrapper {
    padding: 142px 24px 61px 24px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    position: absolute;
    top: 50%;
    z-index: -10;
    border-radius: 10px;
    background: url(/about/mobile/bg-quality.png);
}

@media screen and (min-width: 768px) {
    .quality .text-wrapper {
        padding: 224px 74px 67px 74px;
        background: url(/about/tablet/bg-quality.png);
    }
}

@media screen and (min-width: 1440px) {
    .quality .text-wrapper {
        padding: 88px 51.17% 176px 85px;
        gap: 32px;
        top: 88px;
        background: url(/about/desktop/bg-quality.png);
    }
}

/* Quality heading */

.heading-section-quality {
    color: var(--light-cream);
    font-size: 1.75rem;
    line-height: 1.75rem;
    text-align: center;
}

@media screen and (min-width: 768px) {
    .heading-section-quality {
        font-size: 2rem;
        line-height: 3rem;
    }
}

@media screen and (min-width: 1440px) {
    .heading-section-quality {
        font-size: 2.5rem;
        text-align: left;
    }
}

/* Quality paragraph */

.quality .regular-paragraph {
    color: var(--light-cream);
}

@media screen and (min-width: 768px) {
    .quality .regular-paragraph {
        text-align: center;
    }
}

@media screen and (min-width: 1440px) {
    .quality .regular-paragraph {
        text-align: left;
    }
}