/* Order form nav item */

.order-form-nav-item {
    counter-increment: list-counter;
    padding: 24px 0 24px 0;
    color: var(--dark-grey-blue);
    font-family: "Fraunces";
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 900;
    line-height: 2rem;
    opacity: .25;
    transition: opacity .3s;
}

.order-form-nav-item:first-child {
    padding: 0 0 24px 0;
}

.order-form-nav-item::before {
    content: "0" counter(list-counter);
    padding-right: 24px;
}

.order-form-nav-item:hover {
    cursor: pointer;
    opacity: .6;
}