.order-form-nav ol li {
    counter-increment: list-counter;
    padding: 24px 0 24px 0;
}

.order-form-nav ol li:first-child {
    padding: 0 0 24px 0;
}

.order-form-nav ol li:hover {
    cursor: pointer;
}

.order-form-nav ol li::before {
    content: "0" counter(list-counter);
    padding-right: 24px;
}

.order-form-nav hr {
    border: 1px solid var(--dark-grey-blue);
    opacity: .25;
}

/* ----Order form */
.nav-item-order-form {
    color: var(--dark-grey-blue);
    font-family: "Fraunces";
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 900;
    line-height: 2rem;
    opacity: .25;
    transition: opacity .3s;
  }
  
  .nav-item-order-form:hover {
    opacity: .6;
  }