/* 
    1   Nav links - Page header
    2   Nav links - Page footer
    3   Nav item
    4   Nav item - Page header
    5   Nav item - Page footer
*/

/* 1 Nav links - Page header */

.page-header .nav-links {
    width: 100%;
    max-height: 0px;
    padding: 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    position: absolute;
    top: 66px;
    left: 0;
    z-index: -10;
    opacity: 0;
    background: linear-gradient(180deg, var(--light-cream) 50%, transparent);
    list-style: none;
    transition: max-height .5s, padding .5s, opacity .5s;
}

.page-header .nav-links.open {
    height: calc(100vh - 66px);
    max-height: calc(100vh - 66px);
    padding: 40px 0;
    opacity: 1;
}

@media screen and (min-width: 768px) {
    .page-header .nav-links,
    .page-header .nav-links.open {
        width: auto;
        height: auto;
        padding: 0 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 33px;
        position: relative;
        top: 0;
        z-index: 10;
        background: var(--light-cream);
        transition: top 0s;
    }
}

/* 2 Nav links - Page footer */

.page-footer .nav-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    list-style: none;
}

@media screen and (min-width: 768px) {
    .page-footer .nav-links {
        flex-direction: row;
        gap: 33px;
    }
}

/* 3 Nav item */

.nav-item {
    font-family: "Barlow";
    font-style: normal;
    font-weight: 700;
    color: var(--grey);
    font-size: 0.75rem;
    line-height: 0.9375rem;
    letter-spacing: 0.05769rem;
    text-transform: uppercase;
    transition: all .3s;
}

@media screen and (min-width: 1440px) {
    .nav-item:hover {
        cursor: pointer;
        color: var(--dark-grey-blue);
    }
}

/* 4 Nav item - Page header */

@media screen and (max-width: 768px) {
    .page-header .nav-item {
        font-family: "Fraunces";
        font-style: normal;
        font-weight: 900;
        color: var(--dark-grey-blue);
        font-size: 1.5rem;
        line-height: 2rem;
    }
}

/* 5 Nav item - Page footer */

@media screen and (min-width: 1440px) {
    .page-footer .nav-item:hover {
        cursor: pointer;
        color: var(--light-cream);
    }
}