/* Page header company logo */

.page-header .company-logo {
    width: 163px;
    height: auto;
}

.page-header .company-logo svg {
    width: 100%;
    height: auto;
}

@media screen and (min-width: 768px) {
    .page-header .company-logo {
        width: 236px;
        height: auto;
    }
}

/* Page footer company logo */

.page-footer .company-logo {
    width: 218px;
}

@media screen and (min-width: 768px) {
    .page-footer .company-logo {
        width: 236px;
    }
}