@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap');

/* CSS reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button,
input,
textarea {
  font-family: inherit;
}

img {
  display: block;
}

/* Colors */

:root {
  --dark-cyan: #0E8784;
  --light-cyan: #66D2CF;
  --dark-grey-blue: #333D4B;
  --very-dark-grey-blue: #2C343E;
  --pale-orange: #FDD6BA;
  --light-cream: #FEFCF7;
  --grey: #83888F;
}

/* Body */

body {
  background-color: var(--light-cream);
}

/* Main */

main {
  margin-top: 66px;
}

@media screen and (min-width: 768px) {
  main {
    margin-top: 106px;
  }
}

@media screen and (min-width: 1140px) {
  main {
    margin-top: 110px;
  }
}

/* Typography */

html {
  font-size: 16px;
}

/* --Headings */

[class^="heading"] {
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
}

/* 
   ----Hero | Home page
   ----Hero | Subscribe page
*/

.heading-hero-large {
  color: var(--light-cream);
  font-size: 2.5rem;
  line-height: 2.5rem;
}

@media screen and (min-width: 768px) {
  .heading-hero-large {
    font-size: 3rem;
    line-height: 3rem;
  }
}

@media screen and (min-width: 1440px) {
  .heading-hero-large {
    font-size: 4.5rem;
    line-height: 4.5rem;
  }
}

/* ----Hero | About page */
.heading-hero-small {
  color: var(--light-cream);
  font-size: 1.75rem;
  line-height: 1.75rem;
}

@media screen and (min-width: 768px) {
  .heading-hero-small {
    font-size: 2rem;
    line-height: 2.5rem;
  }
}

@media screen and (min-width: 1440px) {
  .heading-hero-small {
    font-size: 2.5rem;
    line-height: 3rem;
  }
}

/* ----Section | Collection */

.heading-section-collection {
  color: var(--grey);
  font-size: 2.5rem;
  line-height: 4.5rem;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .heading-section-collection {
    font-size: 6rem;
    line-height: 6rem;
  }
}

@media screen and (min-width: 1440px) {
  .heading-section-collection {
    font-size: 9.375rem;
    line-height: 9.375rem;
  }
}

/* ----Section | Usps */

.heading-section-usps {
  color: var(--light-cream);
  font-size: 1.75rem;
  line-height: 1.75rem;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .heading-section-usps {
    font-size: 2rem;
    line-height: 3rem;
  }
}

@media screen and (min-width: 1440px) {
  .heading-section-usps {
    font-size: 2.5rem;
    line-height: 3rem;
  }
}

/* ----Section | Business process */
.heading-section-business-process {
  color: var(--grey);
  font-size: 1.5rem;
  line-height: 2rem;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .heading-section-business-process {
    text-align: left;
  }
}

/* ----Section | Commitment */

.heading-section-commitment {
  color: var(--dark-grey-blue);
  font-size: 2rem;
  line-height: 3rem;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .heading-section-commitment {
    text-align: left;
  }
}

@media screen and (min-width: 1440px) {
  .heading-section-commitment {
    font-size: 2.5rem;
  }
}

/* ----Section | Quality */

.heading-section-quality {
  color: var(--light-cream);
  font-size: 1.75rem;
  line-height: 1.75rem;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .heading-section-quality {
    font-size: 2rem;
    line-height: 3rem;
  }
}

@media screen and (min-width: 1440px) {
  .heading-section-quality {
    font-size: 2.5rem;
    line-height: 3rem;
    text-align: left;
  }
}

/* ----Card | Collection */






/* ----Nav item | Header */

.nav-item-header {
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  color: var(--dark-grey-blue);
  font-size: 1.5rem;
  line-height: 2rem;
}

@media screen and (min-width: 768px) {
  .nav-item-header {
    font-family: "Barlow";
    font-style: normal;
    font-weight: 700;
    color: var(--grey);
    font-size: 0.75rem;
    line-height: 0.9375rem;
    letter-spacing: 0.05769rem;
    text-transform: uppercase;
    transition: all .3s;
  }
}

@media screen and (min-width: 1440px) {
  .nav-item-header:hover {
    cursor: pointer;
    color: var(--dark-grey-blue);
  }
}








.heading-4 {
  /* 
    Card title - Collection
    Card-title - Business process
  */
  color: var(--dark-grey-blue);
  font-size: 1.5rem;
  line-height: 2rem;
}

.usp .heading-4 {
  /* 
    Card title - Usps
  */
  color: var(--light-cream);
  text-align: center;
}



.business-process .step .heading-4 {
  color: var(--dark-grey-blue);
}



/* --Paragraphs */

.paragraph-1 {
  /* ----Regular paragraph */
  font-family: "Barlow";
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5625rem;
}

@media screen and (min-width: 1440px) {
  .paragraph-1 {
    font-size: 1rem;
    line-height: 1.625rem;
  }
}

.hero .paragraph-1,
.usps .paragraph-1,
.quality .paragraph-1 {
  /* ----Regular paragraph - Hero, regular paragraph - Usps */
  color: var(--light-cream);
}

.card .paragraph-1,
.usps .paragraph-1,
.commitment .paragraph-1,
.quality .paragraph-1 {
  /* ----Regular paragraph - Card, regular paragraph - Usps, regular paragraph - Commitment */
  text-align: center;
}

@media screen and (min-width: 768px) {

  .card .paragraph-1,
  .commitment .paragraph-1 {
    text-align: left;
  }
}

@media screen and (min-width: 1440px) {
  .card .paragraph-1 {
    text-align: center;
  }
}

@media screen and (min-width: 1440px) {

  .step .paragraph-1,
  .quality .paragraph-1 {
    text-align: left;
  }
}



.paragraph-3 {
  /* ----Business process card numbers */
  color: var(--pale-orange);
  font-family: "Fraunces";
  font-size: 4.5rem;
  font-weight: 900;
  line-height: 4.5rem;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .paragraph-3 {
    text-align: left;
  }
}

/* --Links */

a,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: inherit;
}

/* --Buttons */

.button-1 {
  /* color: var(--light-cream); */
  text-align: center;
  font-family: "Fraunces";
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 900;
  line-height: 1.5625rem;
}