@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap');

/* 
  1   CSS reset
  2   Colors
  3   Body
  4   Main
  5   Typography
      5.1 Headings
      5.2 Regular paragraphs
      5.3 Links  
*/

/* 1 CSS reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button,
input,
textarea {
  font-family: inherit;
}

img {
  display: block;
}

address {
  font-style: normal;
}

/* 2 Colors */

:root {
  --dark-cyan: #0E8784;
  --light-cyan: #66D2CF;
  --dark-grey-blue: #333D4B;
  --very-dark-grey-blue: #2C343E;
  --black: #000;
  --pale-orange: #FDD6BA;
  --light-cream: #FEFCF7;
  --grey: #83888F;
  --light-grey: #F4F1EB;
  --white: #FFF;
}

/* 3 Body */

body {
  background-color: var(--light-cream);
}

/* 4 Main */

main {
  margin-top: 66px;
}

@media screen and (min-width: 768px) {
  main {
    margin-top: 106px;
  }
}

@media screen and (min-width: 1140px) {
  main {
    margin-top: 110px;
  }
}

/* 5 Typography */

html {
  font-size: 16px;
}

/* 5.1 Headings */

[class^="heading"] {
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
}

/* 5.2 Regular paragraphs */

.regular-paragraph {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  color: var(--dark-grey-blue);
  font-size: 0.9375rem;
  line-height: 1.5625rem;
  text-align: center;
  opacity: .8;
}

@media screen and (min-width: 768px) {
  .regular-paragraph {
    text-align: left;
  }
}

@media screen and (min-width: 1440px) {
  .regular-paragraph {
    font-size: 1rem;
    line-height: 1.625rem;
  }
}

/* 5.3 Links */

a,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: inherit;
}