@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap');

/* CSS reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button,
input,
textarea {
  font-family: inherit;
}

img {
  display: block;
}

address {
  font-style: normal;
}

/* Colors */

:root {
  --dark-cyan: #0E8784;
  --light-cyan: #66D2CF;
  --dark-grey-blue: #333D4B;
  --very-dark-grey-blue: #2C343E;
  --black: #000;
  --pale-orange: #FDD6BA;
  --light-cream: #FEFCF7;
  --grey: #83888F;
  --light-grey: #F4F1EB;
  --white: #FFF;
}

/* Body */

body {
  background-color: var(--light-cream);
}

/* Main */

main {
  margin-top: 66px;
}

@media screen and (min-width: 768px) {
  main {
    margin-top: 106px;
  }
}

@media screen and (min-width: 1140px) {
  main {
    margin-top: 110px;
  }
}

/* Typography */

html {
  font-size: 16px;
}

/* --Headings */

[class^="heading"] {
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
}

/* 
   ----Section | Hero | Home page
   ----Section | Hero | Subscribe page
*/

.heading-hero-large {
  color: var(--light-cream);
  font-size: 2.5rem;
  line-height: 2.5rem;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .heading-hero-large {
    font-size: 3rem;
    line-height: 3rem;
    text-align: left;
  }
}

@media screen and (min-width: 1440px) {
  .heading-hero-large {
    font-size: 4.5rem;
    line-height: 4.5rem;
  }
}

/* ----Section | Hero | About page */
.heading-hero-small {
  color: var(--light-cream);
  font-size: 1.75rem;
  line-height: 1.75rem;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .heading-hero-small {
    font-size: 2rem;
    line-height: 2.5rem;
    text-align: left;
  }
}

@media screen and (min-width: 1440px) {
  .heading-hero-small {
    font-size: 2.5rem;
    line-height: 3rem;
  }
}

/* ----Section | Collection */

.heading-section-collection {
  color: var(--grey);
  font-size: 2.5rem;
  line-height: 4.5rem;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .heading-section-collection {
    font-size: 6rem;
    line-height: 6rem;
  }
}

@media screen and (min-width: 1440px) {
  .heading-section-collection {
    font-size: 9.375rem;
    line-height: 9.375rem;
  }
}

/* ----Section | Usps */

.heading-section-usps {
  color: var(--light-cream);
  font-size: 1.75rem;
  line-height: 1.75rem;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .heading-section-usps {
    font-size: 2rem;
    line-height: 3rem;
  }
}

@media screen and (min-width: 1440px) {
  .heading-section-usps {
    font-size: 2.5rem;
    line-height: 3rem;
  }
}

/* ----Section | Business process */
.heading-section-business-process {
  color: var(--grey);
  font-size: 1.5rem;
  line-height: 2rem;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .heading-section-business-process {
    text-align: left;
  }
}

/* ----Section | Commitment */

.heading-section-commitment {
  color: var(--dark-grey-blue);
  font-size: 2rem;
  line-height: 3rem;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .heading-section-commitment {
    text-align: left;
  }
}

@media screen and (min-width: 1440px) {
  .heading-section-commitment {
    font-size: 2.5rem;
  }
}

/* ----Section | Quality */

.heading-section-quality {
  color: var(--light-cream);
  font-size: 1.75rem;
  line-height: 1.75rem;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .heading-section-quality {
    font-size: 2rem;
    line-height: 3rem;
  }
}

@media screen and (min-width: 1440px) {
  .heading-section-quality {
    font-size: 2.5rem;
    text-align: left;
  }
}

/* ----Section | Headquarters */

.heading-section-headquarters {
  color: var(--grey);
  font-size: 1.5rem;
  line-height: 2rem;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .heading-section-headquarters {
    text-align: left;
  }
}

/* ----Card */

.heading-card {
  font-size: 1.5rem;
  line-height: 2rem;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .heading-card {
    text-align: left;
  }
}

@media screen and (min-width: 1440px) {
  .heading-card {
    text-align: center;
  }
}

/* ----Card | Collection */

.collection .heading-card,
.business-process .heading-card {
  color: var(--dark-grey-blue);
}

/* ----Card | Usps */

.usps .heading-card {
  color: var(--light-cream);

}

/* ----Card | Business process */

.business-process .heading-card {
  color: var(--dark-grey-blue);
}

.subscribe .business-process .heading-card {
  color: var(--light-cream);
}

@media screen and (min-width: 1440px) {
  .business-process .heading-card {
    text-align: left;
  }
}

/* ----Card | Headquarters */

.headquarters .heading-card {
  color: var(--dark-grey-blue);
  font-size: 1.75rem;
  line-height: 2.25rem;
}

@media screen and (min-width: 768px) {
  .headquarters .heading-card {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 1440px) {
  .headquarters .heading-card {
    font-size: 2rem;
    text-align: left;
  }
}

/* ----Order form sections */

.order-form-section .heading-section {
  color: var(--grey);
  font-size: 1.5rem;
  line-height: 1.75rem;
}

@media screen and (min-width: 768px) {
  .order-form-section .heading-section {
    font-size: 2rem;
    line-height: 3rem;
  }
}

@media screen and (min-width: 1440px) {
  .order-form-section .heading-section {
    font-size: 2.5rem;
    line-height: 3rem;
  }
}

/* ----Order form options */

.order-form-option .heading-option {
  color: var(--dark-grey-blue);
  font-size: 1.5rem;
  line-height: 2rem;
  transition: color .3s;
}

.order-form-option.selected .heading-option {
  color: var(--light-cream);
}

/* ----Order form summary */

.order-form-summary .heading-order-summary {
  color: var(--white);
  font-family: "Barlow";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.625rem;
  text-transform: uppercase;
  opacity: 0.5037;
}

/* --Regular paragraphs */

.regular-paragraph {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  color: var(--dark-grey-blue);
  font-size: 0.9375rem;
  line-height: 1.5625rem;
  text-align: center;
  opacity: .8;
}

@media screen and (min-width: 768px) {
  .regular-paragraph {
    text-align: left;
  }
}

@media screen and (min-width: 1440px) {
  .regular-paragraph {
    font-size: 1rem;
    line-height: 1.625rem;
  }
}

/* ----Section | Hero */

.hero .regular-paragraph {
  color: var(--light-cream);
}

/* ----Section | Usps */

.usps .regular-paragraph {
  color: var(--light-cream);
}

@media screen and (min-width: 768px) {
  .usps .regular-paragraph {
    text-align: center;
  }
}

/* ------Section | Quality */

.quality .regular-paragraph {
  color: var(--light-cream);
}

@media screen and (min-width: 768px) {
  .quality .regular-paragraph {
    text-align: center;
  }
}

@media screen and (min-width: 1440px) {
  .quality .regular-paragraph {
    text-align: left;
  }
}

/* ----Card */

.card .regular-paragraph {
  opacity: 1;
}

/* ----Card | Collection */

@media screen and (min-width: 1440px) {
  .collection .card .regular-paragraph {
    text-align: center;
  }
}

/* ----Card | Usps */

.usps .card .regular-paragraph {
  color: var(--light-cream);
}

@media screen and (min-width: 768px) {
  .usps .card .regular-paragraph {
    text-align: left;
  }
}

@media screen and (min-width: 1440px) {
  .usps .card .regular-paragraph {
    text-align: center;
  }
}

/* ----Card | Business process */

.subscribe .business-process .card .regular-paragraph {
  color: var(--light-cream);
  opacity: .8;
}

/* ----Card | Headquarters */

.headquarters .card address {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  color: var(--dark-grey-blue);
  font-size: 1rem;
  line-height: 1.625rem;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .headquarters .card address {
    text-align: left;
  }
}

/* ----Order form options */

.order-form-option .regular-paragraph {
  color: var(--dark-grey-blue);
  font-size: 1rem;
  line-height: 1.625rem;
  text-align: left;
  opacity: 1;
  transition: color .3s;
}

.order-form-option.selected .regular-paragraph {
  color: var(--light-cream);
}

/* --Numbers */

.number {
  font-family: "Fraunces";
  font-weight: 900;
  color: var(--pale-orange);
  font-size: 4.5rem;
  line-height: 4.5rem;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .number {
    text-align: left;
  }
}

/* --Nav items */

/* ----Header */

.nav-item-header {
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  color: var(--dark-grey-blue);
  font-size: 1.5rem;
  line-height: 2rem;
}

@media screen and (min-width: 768px) {
  .nav-item-header {
    font-family: "Barlow";
    font-style: normal;
    font-weight: 700;
    color: var(--grey);
    font-size: 0.75rem;
    line-height: 0.9375rem;
    letter-spacing: 0.05769rem;
    text-transform: uppercase;
    transition: all .3s;
  }
}

@media screen and (min-width: 1440px) {
  .nav-item-header:hover {
    cursor: pointer;
    color: var(--dark-grey-blue);
  }
}

/* ----Order form */
.nav-item-order-form {
  color: var(--dark-grey-blue);
  font-family: "Fraunces";
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 900;
  line-height: 2rem;
  opacity: .25;
  transition: opacity .3s;
}

.nav-item-order-form:hover {
  opacity: .6;
}

/* ----Order form summary */

.order-form-summary-paragraph {
  color: var(--white);
  font-family: "Fraunces";
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 900;
  line-height: 2.5rem;
}

.order-form-summary-paragraph span {
  color: var(--dark-cyan);
}

/* --Buttons */

.button-1 {
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  color: var(--light-cream);
  font-size: 1.125rem;
  line-height: 1.5625rem;
  text-align: center;
}

/* --Links */

a,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: inherit;
}