/* Order form summary */

.order-form-summary {
    width: 87.47%;
    max-width: 328px;
    margin: 120px auto 0 auto;
    padding: 32px 24px;
    background-color: var(--very-dark-grey-blue);
    border-radius: 10px;
}

@media screen and (min-width: 768px) {
    .order-form-summary {
        width: 100%;
        max-width: 689px;
        margin: 144px auto 0 auto;
        padding: 27px 44px;
    }
}

@media screen and (min-width: 1440px) {
    .order-form-summary {
        max-width: 730px;
        margin: 88px 0 auto 0;
        padding: 27px 64px;
    }
}

/* Order form summary - Modal */

.modal .order-form-summary {
    width: 100%;
    max-width: unset;
    margin: 0 auto;
    padding: 40px 24px 0 24px;
    background-color: transparent;
}

@media screen and (min-width: 768px) {
    .modal .order-form-summary {
        padding: 57px 56px 0 56px;
    }
}

/* Order form summary article */

.order-form-summary article {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

/* Order form summary heading */

.order-form-summary .heading-order-summary {
    color: var(--white);
    font-family: "Barlow";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.625rem;
    text-transform: uppercase;
    opacity: 0.5037;
}

/* Order form summary heading - Modal */

.modal .heading-order-summary {
    color: var(--white);
    font-size: 1.75rem;
    line-height: 2rem;
}

@media screen and (min-width: 768px) {
    .modal .heading-order-summary {
        font-size: 2.5rem;
        line-height: 3rem;
    }
}